<header>
    <div id="main">
        <span id="title">サポート窓口</span>
        <nav>
            　<ul>
                　　<li class=”current”><a href="/">
                        <img id="linkIcon" src="\css\home.png" alt="">
                    </a></li>
                　　<li><a href="/">
                        <img id="linkIcon" src="\css\list.png" alt="">
                    </a></li>
                　　<li>
                    <!-- <div id="plusimg">
                        <a class="clickToolTip" href="#plus">
                            <img id="linkIcon" src="/css/plus.png" alt="追加">
                        </a>
                        <p id="plus" class="toolTip invisible">
                            <a href="#addFolder" rel="modal:open">フォルダを追加する</a>
                            <br><a href="/edit/newFile">ファイルを追加する</a>
                        </p>
                    </div> -->


                    <div id="plusimg" class="tooltip">
                        <img id="linkIcon" src="/css/plus.png" alt="追加">
                        <div class="tooltip_content">
                            <a href="#addFolder" rel="modal:open">フォルダを追加する</a>
                            <br><a href="/edit/newFile">ファイルを追加する</a>
                        </div>
                    </div>
                    
                    
                    </li>
                    　</ul>
                    </nav>
                    
                    </div>
                    </header>