<header>
    <div id="main">
        <div style="display:flex;">
            <a href="/" id="title">
                サポート窓口
            </a>
            <a href="/lists" class="square_btn">一覧</a>
        </div>
    </div>
</header>