<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>index</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="\css\navigation.css">
    <link rel="stylesheet" type="text/css" href="\css\tooltip.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/javascript/main.js"></script>


    <!-- jQuery Modal -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</head>

<body>
<%- include('./header') %>


<div id="main">
    <!-- Modal HTML embedded directly into document -->

    <div id="addFolder" class="modal">
        <form action="/post/folder" method="post">
            <p>
                追加するフォルダ名:
                <input type="text" name="folderName" style="width:250px;">
            </p>
            <input type="submit" value="OK">
        </form>
        <a href="#" rel="modal:close">Close</a>
    </div>



    <div id="home">
        <!-- <div class="dtable"> -->

            <!-- <div class="dtable_c">
                <% var filedata = [['folderName','id','title']] %>
                <% filedata.forEach(function(v,k) { %>
                <div class="folder" id="<%= v[0] %>">
                    <span>
                        <%= v[0] %></span>
                </div>
                <% }); %>
                <div th:each="obj: ${folderdata}">
                    <div class="folder" th:id="${obj.folderName}">
                        <span th:text="${obj.folderName}"></span>
                    </div>
                </div>

            </div> -->

                <div id="main-menu">
                    <% var filename = [['folderName','id','title'],['folderName','id2','title2']] %>
                    <% filename.forEach(function(v,k) { %>
                    <div class="folderName">
                        <span class="box-title">
                            <a href="/">
                                <%= v[2]%>
                            </a>
                        </span>
                        <span id="title">title</span>
                        <hr>
                        <p>texttext</p>
                    </div>
                    <% }); %>
                </div>
                <!-- </div> -->
                </div>
                
                </div>
                
                
                </body>
                
                </html>