<!DOCTYPE html>
<html>

<%- include('./parts/htmlSetting') %>

<body>
    <%- include('./parts/header') %>


    <div id="main">
        <div id="home">
            <div id="main-menu">
                <% title.forEach(function(v,k) { %>
                <div class="folderName">
                    <span id="title">
                        <a href="/lists">
                            <a href="/lists/<%= v %>">
                            <%= v %>
                            </a>
                        </a>
                    </span>
                    <hr>
                    <p>更新日時：2018年12月21日
                    </p>
                </div>
                <% }); %>
            </div>
            <!-- </div> -->
        </div>

    </div>


</body>

</html>
