header {
	height: 130px; /*ヘッダーの高さ*/
	width: 100%; /*ヘッダーの横幅*/
	background-color: slategrey; /*ヘッダーの背景色*/
	color: white; /*ヘッダーの文字の色*/
}
span#title{
	margin: 0;
	text-align: left;
	font-size: 42px;
	display: block;
}
nav{
text-align: center;
display: inline-flex;
}
nav ul{
margin: 0 ;
padding: 0 ;
}
nav li{
list-style: none;
display: inline-block;
width: 10%;
min-width: 90px;
}
nav li:not(:last-child){
border-right:2px solid #ddd;
}
nav a{
text-decoration: none;
color: #333;
}
nav a.current{
color: #00B0F0;
border-bottom:2px solid #00B0F0;
}
nav a:hover{
color:#F7CB4D;
border-bottom:2px solid #F7CB4D;
}
#linkIcon{
	width: 40px;
}
